# dependencies
/node_modules

# build outputs
/dist
/build
/node_modules/.vite

# env files
.env
.env*.local

# misc
.DS_Store
Thumbs.db
*.log

# IDE
.vscode
.idea

# deploy
gh-pages

# testing
coverage

# lockfiles (ignore if not used)
/package-lock.json
/yarn.lock
/pnpm-lock.yaml
node_modules/
